.maincontainerofstudentssss{
  max-width: 1360px;
  margin: auto;
  margin-top: 80px;
  padding: 0px 20px;
  display: flex;
  justify-content: end;
}

.maincontainerofstudentssss>p{
  border: 1px solid;
  padding: 3px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.inputtakingcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.inputtakingcontainer>input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(197, 241, 241);
  color: black;
}

.inputtakingcontainer button{
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.inputtakingcontainer button:hover{
  background-color: rgb(11, 11, 189);
}

.containerofchat{
  max-width: 1360px;
  margin: auto;
  margin-top: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.containerofchat>div{
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 8px;
}